@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapperabout {
  margin-top: 5rem;
}

.aboutcontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 3rem;
  flex-direction: column;
  background-image: url(../img/bgabout.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  height: 45vh;
}

.aboutcontainer h3 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.aboutbutton {
  width: 150px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
  background-color: #8f09c0;
  border: none;
  color: #ffffff;
}

.aboutbutton:hover {
  background-color: #ad20e0;
  transition: 1s ease-in-out;
}

@media (max-width: 768px) {
  .aboutcontainer {
    height: auto;
  }
}
